/*main css*/
.main-im{position:fixed;right:10px;bottom:50px;line-height: normal;z-index: 999}
.main-im .qq-a{display:block;width:106px;height:116px;font-size:14px;color:#0484cd;text-align:center;position:relative;}
.main-im .qq-a span{bottom:5px;position:absolute;width:90px;left:10px;}
.main-im .qq-hover-c{width:70px;height:70px;border-radius:35px;position:absolute;left:18px;top:10px;overflow:hidden;z-index:9;}
.main-im .qq-container{z-index:99;position:absolute;width:109px;height:118px;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom:1px solid #dddddd;background-color: #fff;background-img:url("http://likexia.gitee.io/game/images/kf/qq-icon-bg.png");background-position:center 8px;background-repeat: no-repeat ;}
.main-im .img-qq{max-width:60px;display:block;position:absolute;left:6px;top:3px;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.main-im .im-qq:hover .img-qq{max-width:70px;left:1px;top:8px;position:absolute;}
.main-im .im_main{background:#F9FAFB;border:1px solid #dddddd;border-radius:10px;background:#F9FAFB;display:none;z-index:999;}
.main-im .im_main .im-tel{color:#000000;text-align:center;width:109px;height:105px;border-bottom:1px solid #dddddd;}
.main-im .im_main .im-tel div{font-weight:bold;font-size:12px;margin-top:6px;}
.main-im .im_main .im-tel .tel-num{font-family:Arial;font-weight:bold;color:#e66d15;}
.main-im .im_main .im-tel:hover{background:#fafafa;}
.main-im .im_main .weixing-container{width:55px;height:47px;border-right:1px solid #dddddd;background:#f5f5f5;border-bottom-left-radius:10px;background:url("http://likexia.gitee.io/game/images/kf/weixing-icon.png") no-repeat center center;float:left;}
.main-im .im_main .weixing-show{width:112px;height:200px;background:#ffffff;border-radius:10px;border:1px solid #dddddd;position:absolute;left:-125px;top:-126px;}
.main-im .im_main .weixing-show .weixing-sanjiao{width:0;height:0;border-style:solid;border-color:transparent transparent transparent #ffffff;border-width:6px;left:112px;top:134px;position:absolute;z-index:2;}
.main-im .im_main .weixing-show .weixing-sanjiao-big{width:0;height:0;border-style:solid;border-color:transparent transparent transparent #dddddd;border-width:8px;left:112px;top:132px;position:absolute;}
.main-im .im_main .weixing-show .weixing-ma{width:104px;height:103px;padding-left:5px;padding-top:5px;}
.main-im .im_main .weixing-show .weixing-txt{position:absolute;top:110px;left:7px;width:100px;margin:0 auto;text-align:center;color: #000;}
.main-im .im_main .go-top{width:50px;height:47px;background:#f5f5f5;border-bottom-right-radius:10px;background:url("http://likexia.gitee.io/game/images/kf/totop-icon.png") no-repeat center center;float:right;}
.main-im .im_main .go-top a{display:block;width:52px;height:47px;}
.main-im .close-im{position:absolute;right:10px;top:-12px;z-index:100;width:24px;height:24px;}
.main-im .close-im a{display:block;width:24px;height:24px;background:url("http://likexia.gitee.io/game/images/kf/close_im.png") no-repeat left top;text-decoration:none;}
.main-im .close-im a:hover{text-decoration:none;}
.main-im .open-im{cursor:pointer;margin-left:68px;width:30px;height:30px;background:url("http://likexia.gitee.io/game/images/kf/open_im.png") no-repeat left top;cursor: pointer;background-size: 100%;z-index:100;position:fixed;right:10px;bottom:320px;}
@media screen and (max-width:480px){
    .main-im{display: none;}
}
/*打赏*/
.hide_box{z-index:999;filter:alpha(opacity=50);background:#666;opacity: 0.5;-moz-opacity: 0.5;left:0;top:0;height:99%;width:100%;position:fixed;display:none;}
        .shang_box{width:400px;height:450px;margin:-225px 0 0 -200px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:50%;top:50%;border:1px dotted #dedede;display:none;}
        .shang_box img{border:none;border-width:0;}
        .dashang{display:block;width:100px;margin:5px auto;height:45px;padding:10px;background-color:#E74851;color:#fff;text-align:center;text-decoration:none;border-radius:10px;font-weight:bold;font-size:16px;-webkit-transition:all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;margin-top: 20px;}
        .dashang:hover{opacity:0.8;padding:10px;font-size:18px;text-decoration:none;line-height:30px;}
        .shang_close{margin: 20px;cursor: pointer;position: absolute;right: 0;top: 0;}
.shang_close img{width:30px;}
                .shang_logo{display:block;text-align:center;margin:20px auto;}
        .shang_tit{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;background: url('http://likexia.gitee.io/game/images/dashang/cy-reward-title-bg.jpg') no-repeat;background-size: 100%; font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
        .shang_tit p{color:#a3a3a3;text-align:center;font-size:16px;}
        .shang_payimg{width: 148px;border:6px solid #EA5F00;margin:0 auto;border-radius:3px;}
        .shang_payimg img{display:block;text-align:center;width:100%; }
        .pay_explain{text-align:center;margin:10px auto;font-size:12px;color:#545454;}
        .radiobox{width: 16px;height: 16px;background: url('http://likexia.gitee.io/game/images/dashang/radio2.jpg');display: block;float: left;margin-top: 5px;margin-right: 14px;}
        .checked .radiobox{background:url('http://likexia.gitee.io/game/images/dashang/radio1.jpg');}
        .shang_payselect{text-align:center;margin:0 auto;margin-top:40px;cursor:pointer;height:60px;width:280px;}
        .shang_payselect .pay_item{display:inline-block;margin-right:10px;float:left;}
        .shang_info{clear:both;}
		.shang_info p,.shang_info a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;}
.hvr-wobble-top.btn-dashang{background: #5cb85c}
@media screen and (max-width:360px){
    .shang_box{width:300px;height:450px;margin:-225px 0 0 -150px;}
}